/* main section */
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto","Helvetica Neue", "sans-serif";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

/* hero image section */

.hero-image {
    height: 100vh;
    max-width: 100%;

    background: url('../images/hero.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: relative;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #7bd690a1;
    border-radius: 0.3rem;
}

a.btn.btn-primary.btn-lg {
    color: #fff;
    background-color: #394a3b;
    border-color: #95be99;
} 

@media (max-width: 768px) {
    .jumbotron {
      padding:2px 4px;
      font-size:11px;
      line-height: 1;
      border-radius:3px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .jumbotron {
      padding:4px 9px;
      font-size:12px;
      line-height: 1.2;
    }
  }

/* footer */

p.copyright {
    color:#394a3b;
    font-family: "Roboto","Helvetica Neue", "sans-serif";
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 30px;
} 

.fa-instagram {
    color:#394a3b;
}

.fa-facebook-square {
    color:#394a3b;
}

.socials-header {
    color:#394a3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
}

@media (max-width: 768px) {
    footer {
      padding:2px 4px;
      font-size:11px;
      line-height: 1;
      border-radius:3px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    footer {
      padding:4px 9px;
      font-size:12px;
      line-height: 1.2;
    }
  }

/* about us */

.jumbotron-aboutus {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #7bd690a1;
    border-radius: 0.3rem;
}


@media (max-width: 768px) {
    .jumbotron-aboutus {
      padding:2px 4px;
      font-size:11px;
      line-height: 1;
      border-radius:3px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    .jumbotron-aboutus {
      padding:4px 9px;
      font-size:12px;
      line-height: 1.2;
    }
  }

  .hero-image-aboutus {
    height: 150vh;
    max-width: 100%;

    background: url('../images/hero.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: relative;
}